<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Modifier votre voyage</h2>

      <%# On appelle le partial _form.html.erb %>
      <%= render "form" %>

    </div>
  </div>
</div>
