<% flash.each do |type, message| %>
  <div class="alert <%= type == 'notice' ? 'alert-info' : 'alert-warning' %> alert-dismissible fade show m-1" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
